<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('workouts.static', filename='style.css') }}">
    </head>
    <body>
    <div class = "container">
        <div class = "header">
            <h1>Register</h1>
        </div>
        <form action="/users" method="POST">
            <div class = "form-group">
            <label>Username: <input type="text" name="username" required></label>
            <br>
            <label>Password: <input type="password" name="password" required></label>
            </div>
            <div class = "btn">
            <button type="submit">Register</button>
            </div>
        </form>
    </div>
    </body>
</html>