<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Water</title>
  <link rel="stylesheet" href="{{ url_for('workouts.static', filename='style.css') }}">
</head>
<body>

<div class="container">

  <div class="header">
    <h1>Add Water</h1>
    <a class="btn" href="dashboard.html">Back</a>
  </div>

  <!-- Form -->
  <form method="post" action="/users/:uuid/meals/:date">

    <div class="form-group">
      <label>Date</label>
      <input type="date" name="date">
    </div>

    <div class="form-group">
      <label>Amount (oz)</label>
      <input type="text" name="amount" required>
    </div>

    <button class="btn" type="submit">Save</button>

  </form>

</div>

</body>
</html>