<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class = "container">
        <div class = "header">
            <h1>Workout Tracker</h1>
        </div>
        <p>You have eaten 500/2000 calories today, and have drank 64/128 ounces of water today.</p>
        <form action="add_workout.html" method="POST">
            <div class = "form-group">
            <div class = "btn">
            <button type="submit">Add a workout!</button>
            </div>
            </div>
        </form>

        <form action="workouts.html" method="POST">
            <div class = "form-group">
            <div class = "btn">
            <button type="submit">See your workout log!</button>
            </div>
            </div>
        </form>

        <form action="add_workout.html" method="POST">
            <div class = "form-group">
            <div class = "btn">
            <button type="submit">Log a meal!</button>
            </div>
            </div>
        </form>
    </div>
    </body>
</html>